* {
  box-sizing: border-box;
}
.header {
  padding: 5px;
}

.main {
  float: left;
  width: 50%;
  padding: 5px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.name {
    float: left;
    color: rgb(3, 3, 113);
}

.address {
    float: right;
    color: rgb(3, 3, 113);
}

.number {
    float: right;
    color: rgb(3, 3, 113);
}

.email {
    float: right;
    color: rgb(3, 3, 113);
}